# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.tar.gz
*.zip
*.pdf
*tinydb/data*/
*tinydb/tinydb*/
*tinydb/samples*/

*.log
*.aux
*.synctex.gz
*.class

#ignore thumbnails created by windows
Thumbs.db
[Bb]in